.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    color: black;
    font-size: x-large;
    font-weight: 500;
}
 
.navbar button{
    background-color: #824de8;
    color: white;
    border: 0;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;

}