.sidebarHead{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    font-weight: 700;
    color: #10274d;
    padding: 1rem;

}

.sidebarBody ul{
    background-color: #f0f3fc;
    border-radius: 7px;
    padding-left: 0;
}

.sidebarBody ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}