.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.sidebarAndPages {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  width: 14rem;
  height: 100vh;
  background-color: cadetblue;
  border-right: 1px solid rgba(0,0,0,0.15);
}

.homepage {
  width: 100%;
  height: 100vh;
  padding: 0;
}
